body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
img.background-img{
  width: 100%;
  height: auto;
  position: absolute;
  Z-index: -1;
  clear: both;
}

img.foreground-img{
  width: 100%;
  height: auto;
  position: absolute;
  Z-index: 1;
  clear: both;
} 
body, a:link, a:visited, a:active{
  color: rgb(70, 130, 180);
}
.title, .button-stars, .button-shootingStar, .button-airplane{
  font-size: 2em;
  padding:5px 20px;
  position: relative;
  text-decoration: none;
  Z-index: 2; 
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgba(83,83,83,0.4);
  margin: 20px;
}
.images{
  position: relative;
}
.bar{
  text-align: center;
  top: 85%;
  position: relative;
  height: 32px;
  Z-index: 2; 
}

/* Sub-Classes */
.dot {
  border-style: solid;
  border-color: #789;
  border-radius: 2px;
  position: absolute;
  Z-index: 0;
}
.stars{
  border-style: solid;
  border-color: #789;
  border-radius: 2px;
  position: absolute;
  Z-index: 3;
}
.lowStars{
  Z-index: 0;
}
.airplane{
  border: 3px solid red;
  position: absolute;
} 